[submodule "app-typescript-openapi-plugin"]
	path = app-typescript-openapi-plugin
	url = https://github.com/stack-spot/app-typescript-openapi-plugin.git
[submodule "app-typescript-template"]
	path = app-typescript-template
	url = https://github.com/stack-spot/app-typescript-template.git
